body{
	font-family: 'Roboto', sans-serif;
}

/**** NavBar ****/
.nav-item{
	letter-spacing: .2em;
	font-size: 14px;
	text-transform: uppercase;
}

.dropdown-item{
	font-size: 14px;
	letter-spacing: .2em;
	text-transform: uppercase;
}


/**** Footer ****/
.my_footer {
	background-color: #f8f9fa;
	height: 60px;
}

.my_footer p{
	padding-top: 20px;
	font-size: 14px;
}

/**** Category ****/

.my_row_class{
	padding-top: 18px;
}

.my_row_class .mx-auto p{
	color: #000;
	font-size: 12px;
}

.my_row_class .mx-auto p a{
	color: #000;
	font-size: 12px;
	text-decoration: none;
}


.my_image{
	width: 100%;
	height: auto;
}

.my_title{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: .2em;
}


.my_image_padding{
	padding-top: 5px;
}

.my_bottom_margin{
	margin-bottom: 10px;
}
.card-body h4{
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .2em;
}

/**** Product Page ****/

.my_prod_row_class{
	padding-top: 15px;
	padding-bottom: 20px;
}

.my_prod_row_class .mx-auto p{
	color: #000;
	font-size: 12px;
}

.my_prod_row_class .mx-auto p a{
	color: #000;
	font-size: 12px;
	text-decoration: none;
}
.my_prod_title{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: .2em;
	padding-top: 15px;
	padding-bottom: 10px;
}

.my_prod_text{
	padding-right: 20px;
}


.my_search_text{
	padding-top: 20px;
}

/**** Cart  ****/

.my_custom_table {
	min-width: 400px;
	font-size: 14px;
}

.my_custom_thead{
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .2em;
	background-color: #f8f9fa;
}

.custom_image {
	width: 100px;
	height: 100px;
}
.custom_a {
	text-decoration: none;
}

.custom_icon{
	text-decoration: none;
	color: #868e96;
}

.my_custom_button  {
	margin-top: 5px;
}


.stripe-button-el {
	width: 100%;
	display: block;
	background-color: #868e96;
	border: 0px;
	background-image: none;
}




.search {
  width: 450px;
  height: 120px;
  position: relative;
  overflow: hidden;
  &-input {
    width: 100%;
    height: 100%;
    padding: 0 65px 25px 60px;
    position: absolute;
    z-index: 1;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,.15);
    color: #ddd;
    font-size: 28px;
    letter-spacing: .3px;
    transform-origin: 10%;
    transform: scaleX(0);
    font-family: 'PT Sans', sans-serif;
  }
  &-button {
    position: absolute;
    right: 60px;
    bottom: 33px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transform: rotate(45deg);
    -webkit-tap-highlight-color: transparent;
    &::-moz-focus-inner {
      border: 0;
    }
  }
  &-label {
    position: absolute;
    top: 0;
    left: 60px;
    width: 325px;
    height: 77px;
    line-height: 95px;
    color: #ddd;
    font-size: 28px;
    letter-spacing: .3px;
    pointer-events: none;
    overflow: hidden;
    div {
      white-space: pre;
    }
  }
  &-border {
    width: 25px;
    height: 3px;
    position: absolute;
    right: 47px;
    bottom: 32px;
    transform: rotate(45deg);
    background-color: #fff;
    cursor: pointer;
  }
  &-text {
    opacity: 0;
    pointer-events: none;
  }
  &:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 18px;
    left: 40px;
    top: 40px;
    background-color: #fff;
    opacity: 0;
    transition: opacity .3s;
  }
  &.edge:before {
    opacity: 1;
  }
  &-close {
    position: absolute;
    right: 15px;
    top: 5px;
    z-index: 5;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
    &.visible {
      opacity: 1;
      pointer-events: auto;
      transition-delay: .4s;
    }
  }
}

input::-ms-clear{
   display: none;
}